In [23]:
import pandas as pd
import numpy as np   
import seaborn as sns

# Use seaborn's default graphing theme
sns.set_theme()

In [24]:
xls=pd.ExcelFile('diversity.xlsx')

In [25]:
typical_population=xls.parse('typical_population') 
tech_companies=xls.parse('tech_companies')
social_media=xls.parse('social_media')

In [28]:
typical_population

,Company,Female %,Male %,% White,% Asian,% Latino,% Black,% Multi,% Other
0,U.S. Population %,50.791905,49.208095,64,4,16,12,1,3

In [29]:
tech_companies

,Company,Female %,Male %,% White,% Asian,% Latino,% Black,% Multi,% Other,Sources,Source URL,Unnamed: 11
0,Yahoo!,37.00,63.0,45.000000,44.000000,4.000000,2.000000,2,3,Yahoo,https://yahoo.tumblr.com/post/152561899994/yah...,NaN
1,Google,31.00,69.0,53.000000,36.000000,4.000000,3.000000,4,0,Google,https://static.googleusercontent.com/media/div...,NaN
2,Apple,32.00,68.0,54.000000,21.000000,13.000000,9.000000,3,1,Apple,https://www.apple.com/diversity/,NaN
3,Cisco,24.00,76.0,53.000000,37.000000,5.000000,4.000000,1,<1,Cisco,https://www.cisco.com/c/en/us/about/inclusion-...,NaN
4,eBay,40.00,60.0,50.000000,39.000000,6.000000,3.000000,1,1,eBay,https://www.ebayinc.com/our-company/diversity-...,NaN
5,HP,37.00,63.0,73.000000,12.000000,8.000000,4.000000,2,<1,HP,http://h20195.www2.hp.com/V2/GetDocument.aspx?...,http://h20195.www2.hp.com/V2/GetDocument.aspx?...
6,Indiegogo,50.00,50.0,58.000000,28.000000,7.000000,4.000000,-,3,Indiegogo,https://go.indiegogo.com/blog/2017/03/diversit...,NaN
7,Nvidia,17.00,83.0,37.000000,45.000000,3.000000,1.000000,14,<1,Nvidia,http://www.nvidia.com/object/fy15-workforce-pe...,NaN
8,Dell,28.00,72.0,68.647242,9.108567,11.141172,10.038155,-,0.974679,Dell,http://legacyofgood.dell.com/index.htm,NaN
9,Ingram Micro,31.00,69.0,52.000000,14.000000,19.000000,14.000000,1,0,Ingram Micro,http://corp.ingrammicro.com/CorporateSite/medi...,NaN
10,Intel,26.50,73.5,47.800000,38.500000,8.800000,4.000000,0.2,0.7,Intel,https://www.intel.com/content/www/us/en/divers...,NaN
11,Groupon,44.00,56.0,62.000000,20.000000,8.000000,8.000000,-,3,Groupon,https://www.groupon.com/blog/cities/diversity-...,NaN
12,Amazon,39.00,61.0,48.000000,13.000000,13.000000,21.000000,-,5,Amazon,https://www.amazon.com/b?node=10080092011,NaN
13,Etsy,54.00,46.0,79.000000,10.000000,4.000000,3.000000,4,<1,Etsy,https://blog.etsy.com/news/2016/diversity-and-...,NaN
14,Microsoft,26.00,74.0,56.000000,31.000000,6.000000,4.000000,2,<1,Microsoft,https://www.microsoft.com/en-us/diversity/insi...,NaN
15,Salesforce,30.90,68.7,64.690000,23.870000,3.900000,2.530000,2.56,0.1,Salesforce,https://www.salesforce.com/company/equality/,NaN
16,Pandora,49.00,51.0,65.000000,16.000000,8.000000,5.000000,5,1,Pandora,https://pandora.com/careers/#diversity,NaN
17,Uber,38.00,62.0,48.600000,32.300000,6.100000,8.100000,4.3,0.7,NaN,NaN,NaN
18,Slack,44.70,55.3,58.700000,24.400000,6.900000,4.900000,4.4,0.7,Slack,https://slackhq.com/diversity-at-slack-8dea4aa...,NaN
19,AirBnB,41.15,59.0,49.810000,36.360000,7.440000,3.450000,2.52,0.5,AirBnB,https://www.airbnb.co.uk/diversity/belonging,NaN
20,Netflix,43.00,57.0,49.000000,24.000000,6.000000,4.000000,-,4,Netflix,https://jobs.netflix.com/diversity,NaN
21,Yelp,54.00,46.0,62.000000,15.000000,10.000000,6.000000,5,2,Yelp,https://www.yelpblog.com/2017/10/importance-of...,NaN

In [30]:
social_media

,Company,Female %,Male %,% White,% Asian,% Latino,% Black,% Multi,% Other,Sources,Source URL
0,Facebook,35.0,65.0,49.0,40.0,5.0,3.0,3.0,1,Facebook,https://fbnewsroomus.files.wordpress.com/2017/...
1,Instagram,35.0,65.0,49.0,40.0,5.0,3.0,3.0,1,Facebook,https://fbnewsroomus.files.wordpress.com/2017/...
2,Google+,31.0,69.0,56.0,35.0,4.0,2.0,4.0,1,Fortune,http://fortune.com/2017/06/29/google-2017-dive...
3,YouTube,31.0,69.0,56.0,35.0,4.0,2.0,4.0,1,Fortune,http://fortune.com/2017/06/29/google-2017-dive...
4,LinkedIn,42.0,58.0,52.0,39.0,4.0,4.0,2.0,<1,LinkedIn,https://careers.linkedin.com/diversity-and-inc...
5,Pinterest,45.0,55.0,48.0,41.0,6.0,3.0,2.0,1,TechCrunch,https://techcrunch.com/2017/12/19/pinterest-be...
6,Tumblr,37.0,63.0,45.0,44.0,4.0,2.0,2.0,3,Yahoo,https://yahoo.tumblr.com/post/152561899994/yah...
7,Flickr,37.0,63.0,45.0,44.0,4.0,2.0,2.0,3,Yahoo,https://yahoo.tumblr.com/post/152561899994/yah...
8,Twitter,38.4,61.6,43.5,25.8,3.4,3.4,2.7,-,Twitter,https://blog.twitter.com/official/en_us/topics...

In [32]:
social_media['Female %'].mean()

36.82222222222222