# Final Assessment Code Notebook

In [1]:
## Imports for the varius libaraies
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
## Import the excel spreadsheet
data=pd.read_excel("data/final2.xlsx")

## Get the head of data to check its all in order
data.head()

,Company,Female %,Male %,% White,% Asian,% Latino,% Black,% Multi,% Other,% Undeclared,Year Code,Type
0,Facebook,35.0,65.0,49.0,40.0,5.0,3.0,3.0,1.00,NaN,5,Social Media
1,Instagram,35.0,65.0,49.0,40.0,5.0,3.0,3.0,1.00,NaN,5,Social Media
2,Google+,31.0,69.0,56.0,35.0,4.0,2.0,4.0,1.00,NaN,5,Social Media
3,YouTube,31.0,69.0,56.0,35.0,4.0,2.0,4.0,1.00,NaN,5,Social Media
4,LinkedIn,42.0,58.0,52.0,39.0,4.0,4.0,2.0,0.01,NaN,5,Social Media

In [15]:
## Since I reordered the dataset in excel, I can just ask pandas to give my any type of data that I need:
types = ', '.join(set(data["Type"].tolist()))
types = input("Chose to filter from "+ types + ": ")

data[data["Type"] == types]

Chose to filter from Social Media, Typical Population, Comparison, Tech Companies: finrf

Empty DataFrame
Columns: [Company, Female %, Male %, % White, % Asian, % Latino, % Black, % Multi, % Other, % Undeclared, Year Code, Type]
Index: []

The cell above takes a raw list of all the rows of data in the ```Type``` column, filters out the repeats using ```set()``` then compiles them into a comma seperated using ```", ".join(array)``` and then asks the user which of those values they would like to filter for, then indexes the ```data``` DataFrame to filter out those values